[alias]
	co = checkout
[init]
	templatedir = ~/.git_template
[user]
	name = Tom O'Shea
	email = teo26@cam.ac.uk
[core]
	autocrlf = input
	trustctime = false
[diff]
	ignoreSubmodules = dirty
        guitool = kdiff3
[merge]
	summary = true
	tool = kdiff3
	prompt = false
[difftool "kdiff3"]
        trustExitCode = false
[mergetool "kdiff3"]
        trustExitCode = false
[mergetool "p4merge"]
	cmd = "/c/Program Files/Perforce/p4merge.exe" \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
	trustExitCode = true
[mergetool "bc3"]
	path = c:/program files (x86)/beyond compare 3/bcomp.exe
	trustExitCode = true        
[color]
	ui = true
[color "status"]
        added = green
        changed = yellow
        untracked = red reverse
        branch = magenta
[rerere]
	enabled = true
[credential]
	helper = cache --timeout=3600
[http]
	sslVerify = false
[gpg]
	program = gpg2
