[alias]
	co = checkout
[init]
	templatedir = ~/.git_template
[user]
	name = tom.oshea
	email = tom.oshea@grantadesign.com
[core]
	autocrlf = input
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	trustctime = false
[diff]
	ignoreSubmodules = dirty
[merge]
	summary = true
	tool = p4merge
	prompt = false
[mergetool "p4merge"]
	cmd = "/c/Program Files/Perforce/p4merge.exe" \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
[color]
	ui = true
[color "status"]
  added = green
  changed = yellow
  untracked = red reverse
  branch = magenta
[mergetool "bc3"]
	path = c:/program files (x86)/beyond compare 3/bcomp.exe
[rerere]
	enabled = true
[mergetool]
	trustExitCode = true
[credential]
	helper = cache --timeout=3600
[http]
	sslVerify = false
